body {
  color: #303030;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.67;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.page {
  overflow: hidden;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 448px) {
  .container {
    width: 448px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}
.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.title {
  font-family: "Raleway", sans-serif;
}

.uppertitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}
.uppertitle::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: #303030;
}
.uppertitle.black {
  color: rgba(157, 164, 189, 0.6);
}
.uppertitle.black::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.button-online-booking {
  display: block;
  width: 160px;
  padding: 12px 18px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-online-booking.black {
  color: #ffffff;
}
.button-online-booking:hover, .button-online-booking:focus {
  background-color: #ff6c00;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #000000 !important;
  -webkit-text-fill-color: #ff6c00 !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 888;
  width: 100%;
  background-color: rgba(25, 28, 38, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .header .header-nav-container {
    display: none;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 208px;
  padding-bottom: 209px;
  background-color: rgba(25, 28, 38, 0.2);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../img/hero/hero.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../img/hero/hero@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero/hero@2x.jpg);
  }
}
.hero .title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.hero .text {
  font-size: 16px;
  line-height: 1.62;
  color: #9da4bd;
}
@media screen and (min-width: 448px) {
  .hero .text {
    width: 321px;
  }
}

.hero .uppertitle {
  -webkit-animation: vertical-move 1000ms cubic-bezier(0.4, 0, 0.2, 1) calc(500ms * var(--shift)) both;
          animation: vertical-move 1000ms cubic-bezier(0.4, 0, 0.2, 1) calc(500ms * var(--shift)) both;
}

.hero .title {
  -webkit-animation: right-to-left 1000ms cubic-bezier(0.4, 0, 0.2, 1) calc(500ms * var(--shift)) both;
          animation: right-to-left 1000ms cubic-bezier(0.4, 0, 0.2, 1) calc(500ms * var(--shift)) both;
}

.hero .text {
  -webkit-animation: vertical-move 1000ms cubic-bezier(0.4, 0, 0.2, 1) calc(500ms * var(--shift)) both;
          animation: vertical-move 1000ms cubic-bezier(0.4, 0, 0.2, 1) calc(500ms * var(--shift)) both;
}

@-webkit-keyframes vertical-move {
  0% {
    opacity: 0;
    -webkit-transform: translateY(calc(100px * var(--idx)));
            transform: translateY(calc(100px * var(--idx)));
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes vertical-move {
  0% {
    opacity: 0;
    -webkit-transform: translateY(calc(100px * var(--idx)));
            transform: translateY(calc(100px * var(--idx)));
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes right-to-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes right-to-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-bottom: 112px;

  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 108px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-pc.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  (min-width: 1200px) and (min-resolution: 192dpi),
  (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-pc@2x.jpg);
  }
}*/
.about .list {
  display: none;
}
.about .about-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.about .title {
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 448px) {
  .about .title {
    width: 306px;
  }
}
.about .about-text {
  font-size: 16px;
  line-height: 1.62;
  color: #555555;
}
.about .about-desc {
  line-height: 1.86;
  color: #555555;
}

.prices {
  margin-left: auto;
  margin-right: auto;
  background-color: #111319;
  background-image: url(../img/prices/prices-bg-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url(../img/prices/prices-bg-mob@2x.png);
  }
}
.prices .title {
  margin-top: 20px;
  margin-bottom: 44px;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.prices .button-online-booking {
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
}

.prices-list {
  padding-top: 30px;
  padding-bottom: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list .list:first-child {
  padding-bottom: 20px;
}

.prices-list-left,
.prices-list-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.prices-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  line-height: 1.43;
  color: #9da4bd;
}
.prices-list-item::before {
  content: "";
  display: block;
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgba(157, 164, 189, 0.12);
}
.prices-list-item .prices-list-item-right {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.advantages .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  row-gap: 44px;
}
.advantages .title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 41px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.advantages .text {
  font-size: 18px;
  color: #555555;
}

.advantages-left .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
}
@media screen and (min-width: 448px) {
  .advantages-left .list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0px;
  }
}
.advantages-left .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 193px;
  padding: 20px 32px;
  /*flex-basis: calc((100% - 30px) / 2);*/
  background-color: #f7f7f7;
}
@media screen and (min-width: 448px) {
  .advantages-left .list .item:nth-child(2n) {
    margin-top: 30px;
    margin-left: 30px;
  }
}
.advantages-left .list .item .advantages-list-number {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}
.advantages-left .list .item .advantages-list-number::after {
  position: absolute;
  top: 5px;
  right: -15px;
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: #ff6c00;
}
.advantages-left .list .item .advantages-list-text {
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.barbers {
  background-color: #f7f7f7;
}
.barbers .title {
  margin-top: 20px;
  margin-bottom: 44px;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.barbers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
.barbers-list > .item {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 448px) {
  .barbers-list > .item {
    max-width: 418px;
  }
}

.barbers-text-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.barbers-text-thumb .barber-name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
}
.barbers-text-thumb .barbers-desc {
  margin-bottom: 30px;
  line-height: 1.36;
  color: #ff6c00;
}

.social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.social-media-list .social-media-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  color: #303030;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-list .social-media-list-link:hover, .social-media-list .social-media-list-link:focus {
  color: #ff6c00;
}
.social-media-list .barber-social-icon {
  fill: currentColor;
}

.gallery .uppertitle {
  margin-bottom: 71px;
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
@media screen and (min-width: 448px) {
  .gallery-list .gallery-list-item {
    max-width: 418px;
  }
}

.booking {
  background-color: #191c26;
}
.booking .title {
  margin-bottom: 44px;
  text-align: center;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.online-booking-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 44px;
}
.online-booking-form .booking-form-icon {
  fill: currentColor;
}
.online-booking-form .booking-form-input-desc {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.online-booking-form .booking-form-input-desc:hover, .online-booking-form .booking-form-input-desc:focus {
  color: #ffffff;
}
.online-booking-form .booking-form-input-desc:hover .booking-form-icon, .online-booking-form .booking-form-input-desc:focus .booking-form-icon {
  fill: currentColor;
}
.online-booking-form .booking-form-input-desc .booking-form-input {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  padding-left: 55px;
  padding-right: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #ffffff;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  -webkit-transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.online-booking-form .booking-form-input-desc .booking-form-input:hover, .online-booking-form .booking-form-input-desc .booking-form-input:focus {
  border-bottom: 1px solid #ffffff;
}
.online-booking-form .booking-form-input-desc .booking-icon-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
}
.online-booking-form .booking-form-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.online-booking-form .booking-form-textarea:hover, .online-booking-form .booking-form-textarea:focus {
  color: #ffffff;
}
.online-booking-form .booking-form-textarea .booking-form-textarea-message {
  resize: none;
  width: 100%;
  margin-top: 8px;
  height: 60px;
  padding: 8px 0px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #ffffff;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  -webkit-transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.online-booking-form .booking-form-textarea .booking-form-textarea-message:hover, .online-booking-form .booking-form-textarea .booking-form-textarea-message:focus {
  border-bottom: 1px solid #ffffff;
}
.online-booking-form .booking-form-agree-desc {
  position: relative;
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(157, 164, 189, 0.4);
}
.online-booking-form .booking-form-agree-desc .booking-agree-link {
  color: #ff6c00;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.online-booking-form .booking-form-agree-desc .booking-agree-link:hover, .online-booking-form .booking-form-agree-desc .booking-agree-link:focus {
  color: #ffffff;
}
.online-booking-form .booking-form-agree-desc .booking-desc-icon-thumb {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 16px;
  color: transparent;
  border: 1.25px solid #ff6c00;
  border-radius: 2px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.online-booking-form .booking-form-agree-desc .booking-desc-icon-thumb .booking-desc-icon {
  fill: currentColor;
}
.online-booking-form .booking-form-agree-desc .booking-form-agree:checked + .booking-desc-icon-thumb {
  color: #ffffff;
  background-color: #ff6c00;
  border: 1.25px solid #ffffff;
}
.online-booking-form .booking-form-agree-desc .booking-form-agree:focus + .booking-desc-icon-thumb,
.online-booking-form .booking-form-agree-desc .booking-form-agree:hover + .booking-desc-icon-thumb {
  border: 1.25px solid #ffffff;
}
.online-booking-form .button-online-booking {
  margin-left: auto;
  margin-right: auto;
}

.contacts {
  margin-left: auto;
  margin-right: auto;
  background-color: #111319;
  background-image: url(../img/contacts/contacts-bg-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../img/contacts/contacts-bg-mob@2x.png);
  }
}
.contacts .title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.contacts .text {
  margin-top: 20px;
  font-size: 18px;
  color: #9da4bd;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  margin-bottom: 44px;
}
.contacts-list .contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  font-size: 18px;
  color: #9da4bd;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list .contacts-link:hover, .contacts-list .contacts-link:focus {
  color: #ff6c00;
}
.contacts-list .contacts-link .contacts-list-item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.footer {
  padding-top: 44px;
  padding-bottom: 44px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  margin-bottom: 20px;
}
.footer-social .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-social .item .link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}
.footer-social .item:first-child::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: #303030;
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #9da4bd;
}

.mobile-open-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-open-btn:hover, .mobile-open-btn:focus {
  background-color: #ff6c00;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  height: 100vh;
  padding-top: 118px;
  padding-bottom: 227px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ffffff;
  z-index: 998;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-close-button {
  position: absolute;
  top: 48px;
  right: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-close-button:hover, .mobile-close-button:focus {
  background-color: #ff6c00;
}

.mobile-menu-btn {
  fill: currentColor;
}

.mobile-nav .link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  color: #303030;
}
.mobile-nav .link:hover, .mobile-nav .link:focus {
  color: #ff6c00;
}
.mobile-nav .item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-nav {
  margin-bottom: auto;
}

.phone {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  color: #303030;
}

.menu-container .button-online-booking {
  margin-bottom: 64px;
}

.social .link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.social .item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}
.social .item:first-child::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: #303030;
}
.social .item:last-child {
  margin-left: 100px;
}

/*==================== Backdrop - modal window ====================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  scale: 0.5;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding-top: 55px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 428px) {
  .modal {
    width: 410px;
  }
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover, .close-button:focus {
  color: #ffffff;
  background-color: #ff6c00;
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.close-button .close-button-icon {
  fill: currentColor;
}

/*==================== Modal form ====================*/
.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-form .modal-text {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.modal-form .modal-input-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form .modal-form-input-thumb {
  position: relative;
  margin-bottom: 8px;
  color: #303030;
}
.modal-form .modal-form-input-thumb .modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form .modal-form-input-thumb .modal-form-input:focus, .modal-form .modal-form-input-thumb .modal-form-input:hover {
  outline: none;
  border: 1px solid #ff6c00;
}
.modal-form .modal-form-input-thumb .modal-form-input:focus + .modal-form-input-icon {
  fill: #ff6c00;
}
.modal-form .modal-form-input-thumb .modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form .modal-textarea {
  margin-bottom: 16px;
}
.modal-form .modal-textarea .modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form .modal-textarea .modal-form-message:focus, .modal-form .modal-textarea .modal-form-message:hover {
  outline: none;
  border: 1px solid #ff6c00;
}
.modal-form .modal-textarea .modal-form-message::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form .modal-textarea .modal-form-message::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form .modal-textarea .modal-form-message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form .modal-textarea .modal-form-message::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form .modal-textarea .modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form .button-online-booking {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.modal-form-agree-desc {
  position: relative;
  margin-bottom: 16px;
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #303030;
}
.modal-form-agree-desc .modal-agree-link {
  color: #303030;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-agree-desc .modal-agree-link:hover, .modal-form-agree-desc .modal-agree-link:focus {
  color: #ff6c00;
}
.modal-form-agree-desc .modal-desc-icon-thumb {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  color: transparent;
  border: 1.25px solid #303030;
  border-radius: 2px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-agree-desc .modal-desc-icon-thumb .modal-desc-icon {
  fill: currentColor;
}
.modal-form-agree-desc .modal-form-agree:checked + .modal-desc-icon-thumb {
  color: #303030;
  background-color: #ff6c00;
}
.modal-form-agree-desc .modal-form-agree:focus + .modal-desc-icon-thumb {
  border: 1.25px solid #ff6c00;
}/*# sourceMappingURL=style.css.map */