.advantages {
  .container {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 44px;

    .title {
      margin-top: 20px;
      margin-bottom: 20px;

      font-size: 41px;
      line-height: 1.17;
      letter-spacing: 0.05em;

      @media screen and (min-width: 768px) {
        max-width: 449px;
      }
    }

    .text {
      font-size: 18px;
      color: #555555;

      @media screen and (min-width: 768px) {
        max-width: 500px;
      }
    }
  }
}

.advantages-left {
  @media screen and (min-width: 768px) {
    align-self: flex-end;
    max-width: 450px;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

    @media screen and (min-width: 448px) {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 0px;
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 193px;
      min-height: 133px;

      padding: 20px 32px;

      background-color: #f7f7f7;

      @media screen and (min-width: 768px) {
        width: 210px;
      }

      @media screen and (min-width: 448px) {
        &:nth-child(2n) {
          margin-top: 30px;
          margin-left: 30px;
        }
      }

      .advantages-list-number {
        position: relative;
        font-weight: 700;
        font-size: 42px;
        line-height: 1.36;
        letter-spacing: 0.05em;

        &::after {
          position: absolute;
          top: 5px;
          right: -15px;

          content: '+';
          font-weight: 600;
          font-size: 16px;
          line-height: 1.38;
          color: #ff6c00;
        }
      }

      .advantages-list-text {
        text-align: center;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
      }
    }
  }
}
