.barbers {
  .title {
    margin-top: 20px;
    margin-bottom: 44px;

    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
  }
}

/*<img
                  
                />
                <div class="team-item-text">
                  <h3 class="title">Mark Guerrero</h3>
                  <p>Product Designer</p>
                  <ul class="list list-social-media">
                    <li>
                      <a
                        href="https://www.instagram.com/"
                        class="link list-social-media-link"
                        target="_blank"
                        rel="noopener noreferrer nofollow"
                      >
                        <svg class="social-media-icon" width="16px" height="16px">
                          <use href="./images/icons.svg#icon-instagram"></use>
                        </svg>
                      </a>
                      
                      
                    
