body {
  color: #303030;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.67;

  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.page {
  overflow: hidden;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.title {
  font-family: 'Raleway', sans-serif;
}

.uppertitle {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 20px;

    background-color: #303030;
  }

  &.black {
    color: rgba(157, 164, 189, 0.6);

    &::before {
      background-color: rgba(157, 164, 189, 0.6);
    }
  }
}

.button-online-booking {
  display: block;
  width: 160px;
  padding: 12px 18px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}
