.hero {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    padding-top: 208px;
    padding-bottom: 209px;

    background-color: rgba(25, 28, 38, 0.2);

    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../img/hero/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../img/hero/hero@2x.jpg);
    }
  }

  .container {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: flex-end;
    }
  }

  .hero-left {
    @media screen and (max-width: 767px) {
      display: none;
    }
    display: flex;
    align-items: flex-end;
    width: 88px;

    .header-nav-social {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 40px;

      transform: rotate(-90deg);
      transform-origin: top left;

      .item {
        display: flex;
        align-items: center;

        &:first-child::before {
          content: '';
          width: 60px;
          height: 1px;
          margin-right: 40px;

          background-color: #303030;
        }

        .link {
          font-weight: 600;
          font-size: 11px;
          line-height: 1.36;
          letter-spacing: 0.2em;
          color: #303030;

          transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

          &:hover,
          &:focus {
            color: #ff6c00;
          }
        }
      }
    }
  }

  .hero-right {
    @media screen and (min-width: 768px) {
      flex-grow: 1;

      padding-top: 272px;
      padding-bottom: 237px;
      padding-left: 95px;

      background-color: rgba(25, 28, 38, 0.2);

      background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../img/hero/hero-tablet.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
      (min-width: 768px) and (min-resolution: 192dpi),
      (min-width: 768px) and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../img/hero/hero-tablet@2x.jpg);
    }
  }

  .title {
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 48px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  .text {
    font-size: 16px;
    line-height: 1.62;
    color: #9da4bd;

    @media screen and (min-width: 448px) {
      width: 321px;
    }
  }
}

.hero .uppertitle {
  animation: vertical-move 1000ms cubic-bezier(0.4, 0, 0.2, 1) calc(500ms * var(--shift)) both;
}

.hero .title {
  animation: right-to-left 1000ms cubic-bezier(0.4, 0, 0.2, 1) calc(500ms * var(--shift)) both;
}

.hero .text {
  animation: vertical-move 1000ms cubic-bezier(0.4, 0, 0.2, 1) calc(500ms * var(--shift)) both;
}

@keyframes vertical-move {
  0% {
    opacity: 0;
    transform: translateY(calc(100px * var(--idx)));
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes right-to-left {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-bottom: 112px;

  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}





@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-pc.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  (min-width: 1200px) and (min-resolution: 192dpi),
  (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-pc@2x.jpg);
  }
}*/
